.notFound__backdrop {
    width: 100%;
    font-family: "Nunito", sans-serif;

    z-index: 2;
    color: rgb(255, 255, 255);

    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;

    overflow: auto;
    background: rgba(216, 155, 193, 0.3);
    backdrop-filter: blur(9px);

}

.notFound__backdrop strong {
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;
}

.notFound {
    width: 100%;
    height: 100%;
    font-family: "Nunito", sans-serif;

    gap: 50px;
    justify-content: space-around;
}

.notFound__logo {
    height: 100px;
}

.notFound__links {
    gap: 30px
}

.notFound__links a {
    text-decoration: none;
    background-color: rgb(255, 80, 109);
    padding: 3rem;
    color: white;
    border-radius: 30px;
    font-size: 20px;
    text-align: center;
}

@media(max-width: 375px){
    .notFound__backdrop strong {
        font-size: 14px;
        text-align: center;
    }

    .notFound__logo {
        height: 50px;
    }

    .notFound__links a {
        font-size: 12px;
    }
}